<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LearnCodeOnline</title>
</head>
<body>
    <h1>Welcome to LCO - IIFE</h1>
    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique sunt, obcaecati, sint vitae, veniam consectetur consequatur molestiae reiciendis ea quis explicabo id recusandae consequuntur exercitationem doloribus! Fuga suscipit consequuntur exercitationem obcaecati doloribus temporibus quae explicabo placeat neque consectetur maiores, consequatur cupiditate aliquam delectus voluptates, in assumenda culpa. Ex architecto pariatur accusamus possimus et ducimus? Blanditiis perferendis iure excepturi aliquid temporibus eligendi, beatae earum magni pariatur dolor et nobis cum ipsa eos, voluptatibus in libero labore maxime. Temporibus quia tempore itaque at veniam optio! Illum, similique voluptatem soluta vero qui reiciendis?</p>
    </div>
</body>
</html>